{% extends "base.twig.html" %}
{% block title %} Checkout {% endblock title %}
{% block content %}

{% if store.termsAndConditions %}
<!-- Terms and conditions modal -->
<div class="modal fade" id="terms_and_conditions" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Terms & Conditions</h5>
            </div>
            <div class="modal-body">
                {{ store.termsAndConditions | raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<form action="" class="checkout" method="POST">
    <input name="_token" value="{{ store.csrfToken }}" type="hidden">
    <div class="card my-3 shadow">
        <div class="card-header bg-primary text-light">
            Checkout
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="m-0">Firstname <a class="text-danger text-decoration-none">*</a></label>
                    <input type="text" class="form-control" name="first_name" id="input_firstname" placeholder="Firstname" minlength="1" maxlength="40" required>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="m-0">Lastname <a class="text-danger text-decoration-none">*</a></label>
                    <input type="text" class="form-control" name="last_name" id="input_lastname" placeholder="Lastname" minlength="1" maxlength="40" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="m-0">Email Address <a class="text-danger text-decoration-none">*</a></label>
                    <input type="email" class="form-control" name="email_address" id="input_email" placeholder="example@example.com" minlength="3" maxlength="320" required>
                </div>
                {% if cart.requiresDiscorcClientId %}
                <div class="form-group col-md-6 mb-3">

                    <label class="m-0">Discord Account <a class="text-danger text-decoration-none">* </a><a class="small" href="https://help.enderpay.com/customer-help/find-your-discord-client-id" target="_blank">(What's this?)</a></label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="discord_client_id" id="input_discord_username" placeholder="N/A" aria-label=">Discord Account" aria-describedby="button-discord-login" disabled required>
                        <input type="hidden" class="form-control" name="discord_client_id" id="input_discord_client_id" required>
                        <button class="btn btn-primary" type="button" id="button_discord_login">Connect Discord</button>
                    </div>
                </div>
                {% endif %}
                {% if cart.allowsInfluencerCode %}
                <div class="form-group col-md-6 mb-3">
                    <label class="m-0">Influencer Code</label>
                    <input type="text" class="form-control" name="influencer_code" id="input_influencer_code" placeholder="Influencer Code" minlength="1" maxlength="40">
                </div>
                {% endif %}
                <div class="form-group col-md-6 mb-3">
                    <label class="m-0">Country <a class="text-danger text-decoration-none">*</a></label>
                    <select class="form-select" name="country" id="input_country" required>
                        {% for country in checkout.countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% if checkout.gateways is not empty %}
            <div class="form-group mb-3">
                <label class="m-0">Payment Gateway <a class="text-danger text-decoration-none">*</a></label>
                {% for gateway in checkout.gateways %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gateway" value="{{ gateway.type }}">
                    <label class="form-check-label" for="gateway">
                        {{ gateway.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-danger m-0">There are no available payment gateways!</p>
            {% endif %}
            <div class="form-group">
                <label class="m-0">Terms & Conditions <a class="text-danger text-decoration-none">*</a></label>
                {% if store.termsAndConditions %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="terms-store" required>
                    <label class="form-check-label" for="gridCheck">
                        I agree to the <a href="#" data-bs-toggle="modal" data-bs-target="#terms_and_conditions">Terms & Conditions</a> provided by <a href="/"> {{ store.name }}</a>.
                    </label>
                </div>
                {% endif %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="terms-enderpay" required>
                    <label class="form-check-label" for="gridCheck">
                        I agree to the <a href="https://enderpay.com/terms" target="_blank">Terms & Conditions</a> provided by <a href="https://enderpay.com">Enderpay</a>.
                    </label>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" type="submit" id="button_proceed_to_payment">Proceed to payment</button>
        </div>
    </div>
</form>
{% endblock content %}
