{% extends "base.twig.html" %}
{% block title %} Login {% endblock title %}
{% block content %}
<div class="card my-3 shadow">
    <div class="card-header bg-primary text-light">
        Login
    </div>
    <div class="card-body">
        <form action="" method="GET">
            <label for="input_username" class="m-0">Username <a class="text-danger text-decoration-none small">*</a></label>
            <div class="row">
                <div class="col-md-9">
                    <input class="form-control" name="username" id="input_username" type="text" placeholder="Username" minlength="3" maxlength="16" pattern="[a-zA-Z0-9_]{3,16}" required>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary container-fluid">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
