<div class="card mt-3 shadow" id="module_featuredpackage">
    <div class="card-header bg-primary text-light">
        {{ module.name }}
    </div>
    {% if module.data.package.imageUrl %}
    <div class="card-body text-center">
        <img class="center-block" src="{{ module.data.package.imageUrl }}" alt="{{ module.name }}" height="150px" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ module.data.package.name }}">
    </div>
    {% endif %}
    <div class="card-footer p-2">
        <a href="/package/{{ module.data.package.id }}"><button type="button" class="btn btn-sm btn-success float-end">Buy</button></a>
        <button type="button" class="btn btn-primary btn-sm float-end mx-1" data-bs-toggle="modal" data-bs-target="#m_package{{ module.data.package.id }}">Info</button>
    </div>
</div>


<!-- Package Modal -->
<div class="modal fade" id="m_package{{ module.data.package.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ module.data.package.name }} <small>({{ cart.currency.symbol }}{{ module.data.package.price|number_format(2) }} {% if module.data.package.originalPrice != module.data.package.price %} <del class="text-danger">{{ module.data.package.originalPrice|number_format(2) }}</del> {% endif %} {{ cart.currency.iso4217 }})</small></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ module.data.package.content | raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/package/{{ module.data.package.id }}"><button type="button" class="btn btn-success">Buy</button></a>
            </div>
        </div>
    </div>
</div>
<!-- End Package Modal -->
